<div class="container">
  <div class="forgot-password">
    <form
      [formGroup]="forgotpasswordForm"
      (ngSubmit)="forgot()"
      *ngIf="!verify()"
      novalidate
    >
      <h2 class="text-center text-dark">Fotgot password</h2>
      <p class="text-center text-dark">
        Enter your email address you are using for your account below and we
        will send you a password reset link
      </p>
      <div class="form-group col-md-3 mx-auto">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                forgotpasswordForm.get('email').errors &&
                forgotpasswordForm.get('email').touched
            }"
            formControlName="email"
            placeholder="Email"
          />
          <div class="invalid-feedback">Email is required</div>
        </div>
      </div>

      <div class="form-group text-center">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="forgotpasswordForm.invalid"
        >
          Send
        </button>
      </div>
      <div class="form-group text-center">
        <p>Did you remember your password? <a href="">Try logging in</a></p>
      </div>
    </form>

    <form
      [formGroup]="confirmpasswordForm"
      (ngSubmit)="confirmpassword()"
      *ngIf="verify()"
      novalidate
    >
      <h2 class="text-center text-dark">Reset password</h2>

      <div class="form-group col-md-3 mx-auto">
        <div class="input-group">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                confirmpasswordForm.get('password').errors &&
                confirmpasswordForm.get('password').touched
            }"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              confirmpasswordForm.get('password').hasError('required') &&
              confirmpasswordForm.get('password').touched
            "
          >
            Password is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              confirmpasswordForm.get('password').hasError('minlength') &&
              confirmpasswordForm.get('password').touched
            "
          >
            Password must be at least 4 characters
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              confirmpasswordForm.get('password').hasError('maxlength') &&
              confirmpasswordForm.get('password').touched
            "
          >
            Password cannot exceed 8 characters
          </div>
        </div>
      </div>

      <div class="form-group col-md-3 mx-auto">
        <div class="input-group">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                confirmpasswordForm.get('confirmPassword')?.errors ||
                (confirmpasswordForm.hasError('missmatch') &&
                  confirmpasswordForm.get('confirmPassword').touched)
            }"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              confirmpasswordForm.get('confirmPassword').hasError('required') &&
              confirmpasswordForm.get('confirmPassword').touched
            "
          >
            Confirm password is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              confirmpasswordForm.hasError('missmatch') &&
              confirmpasswordForm.get('confirmPassword').touched
            "
          >
            Passwords must match
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="forgotpasswordForm.invalid"
        >
          Change password
        </button>
      </div>
    </form>
  </div>
</div>
